--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
torch
torchvision
torchaudio
einops
ftfy
h5py
imageio
pytorch-lightning
regex
scikit-video
tqdm
diffusers
accelerate
lpips
numpy<2.0.0
scipy
opencv-python-headless
requests
Pillow
pyyaml
transformers
decord
imagenet_stubs
timm
einx
beartype
fairscale
 