streamlit
torch
torchvision
torchaudio
einops
ftfy
h5py
imageio
pytorch-lightning==1.5.4
regex
scikit-video
tqdm
fairscale
lightning
diffusers
accelerate
lpips
numpy==1.26.2
scipy
opencv-python-headless
requests
Pillow
pyyaml